<mat-card>
  <mat-card-content>
    <form>
      <h2>Generar Certificado</h2>
      <mat-form-field class="full-width">
        <input matInput placeholder="Cedula" [(ngModel)]="cc" name="cc" value="k">
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="CodigoBIT" [(ngModel)]="bitCode" name="bitCode">
      </mat-form-field>
      <p class="message">{{msm}}</p>
      <button mat-raised-button color="primary" (click)="generatePDF()">Descargar</button>
    </form>
  </mat-card-content>
</mat-card>